body{
            background-color:rgb(255,111,97)/*living_coral(color of the year 2019 pantone)*/;
            box-sizing:border-box;     color:aliceblue;
}
h1{
    text-align: center;
    max-width: 600px;
    margin:0 auto;
    font-size:2.5rem;
    margin-bottom: 25px;
}
a{
    text-decoration: none;
    color:aliceblue;
}
nav{
    max-width: 1300px;
    margin:0 auto;
    text-align: center;
    border-bottom: 2px solid aliceblue;
}
ul{
    padding:0;
}
ul>li{
    display:inline-block;
    margin-right:17px;
    margin-left:17px;
    padding-left:10px;
    padding-right:10px;
    font-size:1.3rem;
    border:1.3px solid aliceblue;
    border-radius: 10px;
}
ul>li:hover{
    box-shadow: (10px,10px,30px,0,black);/*왜작동안하지 내일검색*/
}